body{
    margin:0;
    padding:0;
}
#share{
    display: none;
}
#bg{
    width: 100%;
    height:auto;
}  
body{
    font-size:0;
}
#quan{
    /*background: rgba(0, 0, 0, 0) url("/img_fall/quan.png") no-repeat scroll 43vw 0 / 85vw auto;*/
    height: 34vw;
    left: -2vw;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 21vw;
    width: 55%;
    font-size:30vw;
    letter-spacing: -2vw;
}
#quan i{
    font-style: normal;
    font-size:15vw;
}
#quan.c50{
    background-position: -57.5vw 0;
}
#quan.c70{
    background-position: 0 0;
}
#quan.c30{
    background-position: -30vw 0;
}
#shareBtn{
    cursor: pointer;
    height: 12vw;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 102vw;
    width: 36%;
}
#share{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
}
#share img{
    width: 100%;
    height: auto;
}
#qc{
    height: auto;
    left: 13vw;
    position: absolute;
    top: 127.8vw;
    width: 35%;
}
#gz{
    background-color: #fff;
    font-size: 14px;
    color: #000;
}

#gz .header{
    font-weight: 800;
    text-align: center;
}

#gz .body{
    /*height: 0;*/
    padding: 0 1em;
    line-height: 1.5;
    overflow: hidden; 
}
#gz .body.active{
    height: auto;
}
p{
    margin: 0;
    padding:0;
}